*{
    font-family: "DM Sans", serif;
    margin: 0;
    padding: 0;
}

.titulo{
    font-family: "Poppins", serif;
}

.marca{
    font-family: "Konkhmer Sleokchher", serif;
}

.mainPage{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #EFEFEF;
}

.navbarEsq{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    gap: 4vh;
    background-color: #44395F;
    color: #EFEFEF;
    align-items: center;
    border-top-right-radius: 1rem; 
    border-bottom-right-radius: 1rem;
}

.profile{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    gap: 10px;
}

.profile .titulo{
    font-weight: 500;
    font-size: 25px;
}

.profile #email{
    font-size: 20px;
    font-weight: 300;
}

.btnsNav{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonNav{
    all: unset;
    display: flex;
    gap: 10px;
    font-family: "Konkhmer Sleokchher", serif;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s;
}

.buttonNav:hover{
    cursor: pointer;
    background-color: rgb(105, 85, 157);
    transform: scale(1.05);
    transition: 0.3s;

}

.logout{
    all: unset;
    display: flex;
    margin-top: 20vh;
    background-color: #817E88;
    width: 10vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.logout:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #816fa7;
    transition: 0.3s;
}

.containerDir{
    display: flex;
    width: 80vw;
}