
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #EFEFEF;
}

.div-esquerda {
    width: 18%; 
    background-color: #44395F; 
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-right-radius: 2rem; 
    border-bottom-right-radius: 2rem;
    flex-direction: column; 
    padding: 1.25rem;
}

.info-usuario {
    text-align: center; 
    margin-bottom: 1.25rem; 
}

.foto-usuario {
    width: 5rem; 
    height: 5rem; 
    border-radius: 50%; 
    margin-bottom: 0.625rem; 
}

.nome-usuario {
    font-size: 1rem; 
    font-weight: bold; 
    color: white; 
}

.botaop {
    background-color: transparent; 
    border: 0.125rem  #7b5dc8; 
    color: #ffffff; 
    padding: 0.625rem 0.625rem; 
    margin-bottom: 0.313rem;
    font-size: 1rem; 
    font-weight: bold; 
    border-radius: 1.875rem; 
    display: flex; 
    align-items: center; 
    margin: auto;
    cursor: pointer; 
    transition: background-color 0.3s , color 0.3s;
}

.botaop svg {
    margin-right: 0.5rem; 
    width: 1.25rem; 
    height: 1.25rem; 
    fill: currentColor; 
}

.botaop:hover {
    background-color: rgba(0, 123, 255, 0.1); 
    color: #7b5dc8; 
    
}

.botao-sair {
    margin-top: 10%; 
    background-color: #dcdcdc; 
    color: rgb(0, 0, 0); 
    border: none; 
    padding: 0.625rem 1.25rem; 
    font-size: 1rem; 
    border-radius: 1.688rem;
    cursor: pointer;
    text-align: center;
    width: 100%; 
}

.botao-sair:hover {
    background-color: rgb(132, 132, 132);
}


.div-central, .div-direita {
    flex: 1; 
    display: flex;

}

.div-central {
    background-color: #EFEFEF; 
    justify-content: start;
    align-items: row;
    margin-left: 0.938rem;
    margin-top:0.031rem ;
}
.div-central h1 {

    color:#44395F; 
    text-decoration:underline;
}

.div-direita {
    background-color: #EFEFEF; 
}
