@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #EFEFEF;
    font-family: "Poppins", serif;
    
}

.div-esquerda {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    gap: 4vh;
    background-color: #44395F;
    color: #EFEFEF;
    align-items: center;
    border-top-right-radius: 1rem; 
    border-bottom-right-radius: 1rem;
}

.profile {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.25rem;
    gap: 0.625rem;
}

.profile .titulo2 {
    font-family: "Poppins", serif;
    font-weight: bolder;
    font-size: 1.5625rem;
}

.profile #email {
    font-size: 1.25rem;
    font-weight: 300;
    
    text-align: center;
}

.btnsNav {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.buttonNav {
    all: unset;
    display: flex;
    gap: 0.625rem;
    font-family: "Konkhmer Sleokchher", serif;
    justify-content: center;
    border-radius: 0.3125rem;
    transition: 0.3s;
}

.buttonNav:hover {
    cursor: pointer;
    background-color: rgb(105, 85, 157);
    transform: scale(1.05);
    transition: 0.3s;
}

.logout {
    all: unset;
    display: flex;
    margin-top: 20vh;
    background-color: #817E88;
    width: 10vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    font-weight: bold;
    transition: 0.3s;
}

.logout:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #816fa7;
    transition: 0.3s;
}

.div-central, .div-direita {
    flex: 1;
    display: flex;
}

.div-central h1 {
    font-family: "Poppins", serif;
    color: #44395F;
    align-items: flex-start;
    text-align: left;
}

.div-central {
    background-color: #EFEFEF;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 0.05875rem;
    margin-top: 0.000625rem;
    text-align: center;
}

.div-central .titulo {
    margin-left: -40%;
    font-family: "Poppins", serif;
    font-size: 0.625rem;
}

.titulo2 {
    font-family: "Poppins", serif;
}

.cjtInput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
    margin-right: 2rem;
}

.inputPesq{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.inputsDados{
    all:unset;
    text-align: center;
    width: 25vw;
    border-radius: 5px;
    height: 5vh;
}

.inputsDados:focus{
    border: solid 1px black;
}

.btnHead{
    all: unset;
    display: flex;
    background-color: #44395F;
    color: white;
    width: 7vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
}

.btnHead:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #816fa7;
  
}

.selecao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selecao h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #44395F;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1.25rem;
}

.selecao select {
    color: #44395F;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    border: 0.0625rem solid #44395F;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.kpi-qtd-alertas {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 0.625rem;
    width: 50vh;
    height: 30vh;
    font-size: 0.9375rem;
    font-weight: 500;
    box-shadow: -0.625rem 0.625rem #b0b0b07f;
    padding: 0.3125rem 0.3125rem 0.625rem;
}

.kpi-qtd-alertas h3 {
    color: #44395F;
    margin-bottom: 0.3125rem;
    
    
}

.kpi-qtd-alertas .alertas-quantidade {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.kpi-qtd-alertas p {
    color: #333;
    font-size: 2rem;
    margin: 0;
}


.kpi-aviso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b0ffbcbc;
    color: #00b806;
    padding:  0.125rem 0.125rem 0.625rem;
    width: 6
    0%;
    height: 5%;
    text-align: center;
    border-radius: 1.25rem;
    border-style: double;
    border-color: #12ff0e;
    margin-top: 1.25rem;
    
}

.kpi-aviso p {
    font-size: 1.25rem;
    font-weight: bold;
}

.relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    height: 80%; 
    background-color: #b0ffbcbc; 
    border-radius: 80%;  
    border: 5px solid #2aff31;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
     
}

.relogio p {
    font-size: 2rem;
    color: #44395F;  
    font-weight: bold;
    text-align: center;
     
}

.grafico {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    max-width: 37.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 0.625rem;
    width: 70%;
    height: 80%;
    box-shadow: -0.625rem 0.625rem #b0b0b07f;
    padding: 0.3125rem 0.3125rem 0.625rem;
}

.div-direita {
    background-color: #EFEFEF;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 0.00195rem;
    text-align: center;
}

.selecao2 {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.selecao2 h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #44395F;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1.25rem;
}

.selecao2 select {
    color: #44395F;
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    border: 0.0625rem solid #44395F;
    padding: 0.3125rem 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.grafico-podio {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    max-width: 37.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 0.625rem;
    width: 50%;
    height: 40%;
    box-shadow: -0.625rem 0.625rem #b0b0b07f;
    padding: 0.3125rem 0.3125rem 0.625rem;
    
}

