<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <svg class="footer-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
            <path fill="#3F3161" d="M0,50 C360,100 1080,0 1440,50 L1440,100 L0,100 Z"></path>
        </svg>
        <div class="footer-content">
            <p><strong>Latency</strong><span style="color: #A68ACB;">Slayers.</span></p>
            <p>©2025 LatencySlayers.</p>
            <p>Todos os direitos reservados.</p>
            <div class="social-icons">
                <img src="linkedin-icon.png" alt="LinkedIn">
                <img src="github-icon.png" alt="GitHub">
            </div>
        </div>
    </footer>
    
</body>
</html>

<style>
.footer {
    background-color: #3F3161;
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    border-top-left-radius: 50% 30px;
    border-top-right-radius: 50% 30px;
}


</style>